<div class="product">
  <div class="fruit-form" >
    <h3 style="text-align: center;">Fruit details storing form</h3>
    <form action="" #fruitForm="ngForm" (ngSubmit)="onFruitsCreate(fruitForm.value)">
      <label for="fruit-id">Enter Fruit Id:</label>
      <input type="text" name="fId" id="fruit-id" ngModel><br><br>
  
  
      <label for="fruit-name">Enter Fruit Name:</label>
      <input type="text" name="fName" id="fruit-name" ngModel><br><br>

      <label for="fruit-price">Enter Fruit Price:</label>
      <input type="text" name="fPrice" id="fruit-price" ngModel><br><br>
  
  
      <label for="fruit-quantity">Enter Fruit Quantity:</label>
      <input type="text" name="fQuantity" id="fruit-quantity" ngModel><br><br>
  
        <input type="submit" name="" id="submit" value="{{editMode ? 'Update Product' : 'Add Product'}}">
    </form>
  </div>
  <div class="fruit-details">
    <table>
      <tr *ngFor="let head of tableHeadName">
              <th>{{head.id}}</th>
            <th>{{head.fid}}</th>
            <th>{{head.name}}</th>
            <th>{{head.price}}</th>
            <th>{{head.quantity}}</th>
      <tr>
      
      <tr *ngIf="allProducts.length < 1 &&!isFetching">
        <td colspan="5" style="text-align: center;">No data found!</td>
      </tr>
      <tr *ngIf="isFetching">
        <td colspan="5" style="text-align: center;">Loading....</td>
      </tr>
      <tr *ngFor="let fruit of allProducts;index as i">
        <td>{{i+1}}</td>
        <td>{{fruit.fId}}</td>
        <td>{{fruit.fName}}</td>
        <td>{{fruit.fPrice | currency:'INR'}}</td>
        <td>{{fruit.fQuantity}}kg </td>
        <td><button type="button" id="but" (click)="onDeleteProduct(fruit.id)">Delete</button></td>        
        <td><button type="button" id="edit" (click)="onEditProduct(fruit.id)">Edit</button></td>        

      </tr>
    </table>
    <input type="submit" name="" id="fetch" value="Fetch Products" (click)="onProductsFetch()">
    <input type="submit" name="" id="clear" value="Clear Products" (click)="onClearProducts()">
  </div>
 

</div>